#wrapper{
	display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

// FOOTER
#footer{
	padding: 0;
	a{color: Hsl(from currentColor h s calc(l + 40));}
	nav{
		ul{list-style: none; padding: 0; margin: 0;}
	}
}
.footer__richcontent{
	padding: $spacing;
	gap: $spacing;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: baseline;
	.h3{font-variant: all-small-caps;
		@include media-max(sm){
			font-size: 1.2em;
		}
	}
	@include media-max(sm){
		--griditem-minwidth: 180px;
		grid-template-columns: 1fr;
		justify-items: unset;
	}
}
.footer__col{
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5em;
	&.logo_coords    {
		align-self: center;
	}
	&.contact_socials{
		@include media-max(sm){
			@include grid($autocols: auto-fit); 
		}
	}
	&.nav            { 
		grid-template-rows: min-content; 
	  gap: 0; 
	  @include media-max(sm){
	  	display: block;
	  	columns: 2 var(--griditem-minwidth);
	  	gap: 1em;
	  }
	}
}
.footer__cell{
	.socials{
		a{@extend %btn,.squared,.btn-bd-blacklighter;
			color: var(--btn-font-color) !important;
		}
	}
}
.footer__copyright{
	padding: 1em 0;
	background: var(--theme);
	color: var(--theme-font);
	.container{
		display: flex; justify-content: space-between; gap: 1em; flex-wrap: wrap;
	}
}


// HEADER
#header:has(.headerFW){
	display: contents;
	>.inside{display: contents;}
}
.headerFW{background: body(background);
	&.is-pinned{box-shadow: 2px 4px 4px rgba($primary, 0.12) ;}
}
.headerFW__logo__wrapper{padding: 0.75em;}
.headerFW__nav__wrapper{align-items: flex-end; padding-top: 40px;
	.is-reduce &,
	.is-pinned &{padding-top: 0;}
	&:before{
    content: "";
    position: fixed;
    inset: 0;
    background: transparent;
    transition: background 0.4s;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    width: 100vw;
	}
	&:has(.headerFW__nav__panel.active){
		&:before{
	    background: rgba($primary,0.1);
		}
	}
}

.headerFW__nav__panel{height: 100vh; top: 0; z-index: 1;width: clamp(50%,500px,100%); }
.panel__header{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 80px;
	padding: 0.5em 1em;
	align-items: center;
}
.panel__close{@extend .headerFW__nav__toggler,.active; margin: 0;display: block;
	.is-open &{visibility: visible;opacity: 1;display: block;}
}


.mod_breadcrumb{@include container(); padding: 0.5em; margin-top: $spacing;}

.mod_article{
	&:has(.mod_wem_portfolio_reader .heroFW){
		--mod_article-margin-bottom: 0px;
		padding-top: 0;
	}
}

// SHADOWS
:root{
	--shdw-elevation : 0.25;
	--shdw-offx      : 8px;
	--shdw-ratio-y   : 2;
	--shdw-ratio-blur: 2;
	--shdw-offy      : calc(var(--shdw-offx) * var(--shdw-ratio-y));
	--shdw-blur      : calc(var(--shdw-offx) * var(--shdw-ratio-blur));
	// --shdw-hsl-h     : 0deg;
	--shdw-hsl-h     : #{hue($primary)};
	--shdw-hsl-s     : #{saturation($primary)};
	--shdw-hsl-l     : #{lightness($primary)};
	--shdw-hsl-a     : calc( 0.5 - (0.25 * var(--shdw-elevation)));
}
%shdw{ 
	box-shadow: none;
	--shdw  : 
		calc(var(--shdw-offx) * var(--shdw-elevation)) 
		calc(var(--shdw-offx) * var(--shdw-elevation) * var(--shdw-ratio-y)) 
		calc(var(--shdw-offx) * var(--shdw-elevation) * var(--shdw-ratio-blur)) 
		hsl(
			var(--shdw-hsl-h) 
			var(--shdw-hsl-s) 
			var(--shdw-hsl-l) / calc( 0.5 - (0.25 * var(--shdw-elevation)))
		);
	filter: drop-shadow(var(--shdw));
}
.shdw{
	@extend %shdw;
}
.txt-shdw{
	@extend %shdw;
	filter: none;
	text-shadow: var(--shdw);
}




.heroFW{
	&.splitcontent{
		--shift: 0px; 
	  .heroFW__title{
	  	margin-bottom: 0.65em;
	    font-size: 2.5rem; 
	    font-size: clamp(16px,calc(1.2rem + 2vw),2rem);
	  }
	  .heroFW__wrapper{overflow: visible;display: grid; 
	    --percent-w-picture: 0.4;
	    --w-picture: calc(var(--percent-w-picture) * 100vw);
	    grid-template-columns: calc(100% - var(--w-picture)) var(--w-picture);
	    padding-block: var(--shift);
	    @include media-max(md){
	      --percent-w-picture: 0.3;
	    }
	    @include media-max(sm){
	      --percent-w-picture: 1;
	      --shift: 0px;
	      grid-template-columns: 1fr;
	      .heroFW__figure,
	      .heroFW__content{grid-column: 1; grid-row: 1; order: 0;}
	    }
	  }
	  .heroFW__figure{position: relative; order:1; max-height: 60vh; min-height: 100%;
	    
	    translate: calc(var(--shift) * -1) calc(var(--shift) * -1);
	    width: calc(100% + var(--shift));
	    max-width: none;
	    border-radius: $radius 0 0 $radius;
	    overflow: hidden;

	  }
	  &.height--content{
	  	.heroFW__figure{
	    	img{position: absolute; inset: 0}
	  	}
	  }

	  .heroFW__content{padding-left: 0; padding-right: 0; position: relative; height: 100%;
	  	
	  	translate: calc(var(--shift)) calc(var(--shift));
	    width: calc(100% + var(--shift) * 1);
	    max-width: none;
	    border-radius: 0 $radius $radius 0;
	    overflow: hidden;

	    justify-self: end;
	    display: grid;
	    grid-template-columns: calc((100vw - var(--container-mw)) / 2 + #{$spacing}) auto;
	    color: color(white);
	    &:after{@include pseudo(); top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background-color: var(--theme);}
	    @include media-max(sm){
	      grid-template-columns: 1fr;
	      &:after{opacity: 0.85;}
	    }
	  }
	  .heroFW__content__wrapper{padding: 0 ($spacing*2.5) 0 0; max-width: 100%; width: 100%; grid-column: 2; overflow: hidden;
	    @include media-max(sm){padding: 0 $spacing;}
	    @include media-max(xs){padding: 0 $spacing;}
	  }
	  &.revert{
	    .heroFW__figure{order:0;}
	    .heroFW__wrapper{
	      grid-template-columns: var(--w-picture) calc(100% - var(--w-picture)) ;
	      @include media-max(sm){
	        grid-template-columns: 1fr;
	      }
	    }
	    .heroFW__content{
	      grid-template-columns: auto calc((100vw - var(--container-mw)) / 2 + #{$spacing});
	      @include media-max(sm){
	        grid-template-columns: 1fr;
	      }
	    }
	    .heroFW__content__wrapper{grid-column: 1;}
	  }
	}
}
.heroFW__title{
	@extend %shdw;
	font-weight: 400 !important;
	--shdw-elevation: 0.125;
}


// TITLES
h1,.h1{text-transform: none; font-variant: all-small-caps;}
h2,.h2{text-transform: none; font-variant: small-caps;}


.block-card{
	transition: opacity 0.6s;
	// .block-card__wrapper{border-radius: $radius;}
	.block-card__headline{padding: 0.75em; opacity: 1;	}
	&[data-preset="paw--navcard"]{
		.block-card__content{
			display: grid;
			grid-template-areas: "title btn";
			grid-template-columns: 1fr auto;
			align-items: start;
			gap: 1em;
			padding-left: 1ch;
			padding-block: 0.75em;
		}
		.block-card__figure{
			&:empty{background: Hsla(from var(--theme) h s l / 0.15);}
			img{object-fit: scale-down;}
		}
		.block-card__title {grid-area: title; margin-bottom: 0;}
		.block-card__text  {grid-column: 1 / -1;}
		.block-card__btn   {grid-area: btn; }
		.block-card__actions{display: contents;}
		&:not([class*=r_]) .block-card__figure{@extend .r_4-3;}
	}
	&[data-preset="paw--navcard"],
	&[data-preset="minimalist"]{
		// .block-card__figure{border-radius: $radius;}
		.block-card__wrapper{border-radius: 0;}
	}

	&[data-preset=inline]{
		.block-card__actions{margin-top: auto;}
		.block-card__wrapper .block-card__figure{flex-basis: 15%;}
	}

	&.portfolio_item{
		// .block-card__figure{@include img-container(scale-down,body(block-background));}
		// .block-card__figure{@include img-container(scale-down,transparent);}
	}
}


.portfolio_full{
	container-type: inline-size;

	.heroFW{
		.heroFW__figure{
			position: relative;
			.featured{position: absolute; top: 1em; left: 1em;}
		}

		&.splitcontent{
			.heroFW__wrapper{
				--percent-w-picture: 0.5;
			}
			.heroFW__figure{
				display: grid;
			    grid-template-columns: auto calc(50vw - var(--container-mw) / 2 + 2em);
			    grid-template-rows: 100%;
			    align-items: center;
			    img{
			    	object-fit: contain;
			    	height: clamp(300px, 400px, 60vh);
			    	position: relative;
			    }
			}
		}
	}
}
.portfolio__wrapperContent{
	padding-block: var(--mod_article-padding-y);
	display: grid;
	grid-template-areas: 'text media';
	grid-template-columns: auto max(35%,300px);
	gap: 2em;
	@container (max-width: 700px) {
		grid-template-areas: 'text' 'media';
		grid-template-columns: 1fr;
	}
	.content--text  {grid-area: text;}
	.content--media {
		grid-area: media;
		display: grid;
		grid-auto-rows: min-content;
		gap: 1em;
	}
	.media--logos   {
		display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 5px;
    align-content: end;
    img{
    	height: 50px;
	    width: auto;
	    object-fit: contain;
    }
    a{display: contents;}
	}
	.media--gallery {}
	.media--docs    {}
}


.content--icon{
	.icon{
		svg{aspect-ratio: inherit;}
	}
}